body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 input{
  display: inline-block;
}
.container{
    margin: auto;
  width: 50%;
  padding: 10px;
}
#guessHolder{
  margin:auto;
}

#centerGuess{
  margin: auto;
  display: block;
  text-align: center;
}

.guessInput{
  padding-top:20px;
}